  *{
	margin : 0px ;
	padding : 0px ;
	}
	body{
	background-color : black ; 
	}
	a{
	text-decoration : none ;
	color : black ;
	font-size : 23px ;
	}
	a:hover{
	color : #44FF9C ;
	}
	footer{
    text-align : center ;
	}
    .h1{
	 position: absolute;
     top: 30px ;
     left : 700px ;
	 letter-spacing :10px ;
	 font-family : STKaiti ;
     font-size : 30px ;
	} 

	.img{
	 display: inline-block;
     position: absolute;
    }
    .img2{
	 position: absolute;
	 top: 300px ;
     left : 700px 
	}
    .a{
     position: absolute;
	 top: 800px ;
     left : 720px ;
	 letter-spacing :10px ;
	}
	.img3{
	 position: absolute;
	 top: 800px ;
	 left : 550px 
	}
	.h2{
	 position: absolute;
	 top: 1140px ;
	 left : 750px ;
	}
	.lpn1{
	 position: absolute;
     top: 260px;
     left: 578px;
     width: 620px;
     height: 30px;
     background-color: red ;
     color: black;
     font-size: 25px;
     line-height: 35px;
	}
	.lpn2{
     position: absolute;
     top: 460px;
     left: 738px;
     width: 300px;
     height: 30px;
     background-color: red ;
     color: black;
     font-size: 25px;
     line-height: 35px;}
    .f1{
	 position: absolute;
     top: 950px;
     left: 400px;
     width: 1000px;
     height: 80px;
     background-color: gray ;
     font-size: 25px;
     line-height: 35px;
	}