/*container*/
header{
    display: block;
    white-space: nowrap;
    width: auto;
    height: 10%;
    background-color: rgb(198, 231, 245);
    display: flex;
    justify-content: center;
}
nav{
    background-color: rgb(85, 105, 171);
    color: #ffffff;
    height: 50px;
    
}
article{
    background-color: rgb(255, 255, 255);
    height: 760px;
    width: 100%;
}
aside{
    background-color: rgb(85, 105, 171);
    display: flex;
    justify-content: center;
}
footer{
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 118, 118);
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
}
.btn{
    height: 40px;
    width: 100px;
    background-color: #9da9e6;
    border-radius: 1rem;
    font-size: 20px;
}
.btn:hover{
    background-color: #3b4470;
}
.parent{
    display: flex;
    align-items: center;
}
.sppl{
    display: inline-block;
}
.mb{
    background-color: #ffffff;
    height: 855px;
}
.boxLeft{
    overflow: hidden;
    overflow-y: scroll;
    width: 50%;
    height: 760px;
    background-color: #8a99d2;
    float: left;
    color: #3b4470;
    font-size: 25px;
    font-family: 楷体;
}
.boxRight{
    width: 50%;
    height: 760px;
    background-color: #9da9e6;
}
*{
    margin: 0;
    padding: 0;
}
.czpl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*text*/
.threed {
    text-shadow: 2px 0px 1px rgb(255, 255, 255), 2px 0px 1px rgb(255, 255, 255), 2px 0px 1px rgb(255, 255, 255), 2px 0px 1px rgb(255, 255, 255);
    color: #3b4470;
    font-size: 30px;
    font-weight: bold;
}
.by{
    color: #8a99d2;
    font-family: 隶书;
    font-size: 50px;
}
.by1{
    color: #8a99d2;
    font-size: 30px;
    font-family: 楷书;
    font-weight: bolder;
}
.a1{
    color: #ffffff;
}
.a1:hover{
    color: beige;
    font-weight: bolder;
}
.moviename{
    text-align: center;
    color: black;
    font-size: 30px;
}
/*photo*/
.moviephoto{
    height: 250px;
    width: 160px;
}
.moviephoto:hover{
    transform: scale(1.03);
}

/* 响应式设计 */
@media (max-width: 768px) {
    body {
         font-size: 16px;
    }
  }
/*广告合作*/  
/*图片轮播*/
.gg{
    background-color:rgb(225, 37, 27);
}
.imgBoxLeft{
    width: 20%;
    height: 500px;
}
.imgBoxLeft img{
    width: 100%;
    height: 30%;
}
.imgBoxRight{
    height: 220px;
    width: 100%;
    background-color: rgb(225, 37, 27)
}
.gezi4{
    position: fixed;
    right: 1%;
    top: 40%;
    height: 100px;
}
.imgBox{
    width: 78%;
    height: 500px;
}
.imgBox img{
    width: 100%;
    height: 500px;
}
.imgBox img:hover{
    transform: scale(1.03);
}
.img1{
    display: block;
}
.img2{
    display: none;
}
.img3{
    display: none;
}
.ggbtn{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    font-size: 17px;
    font-family:宋体;
}
.ggbtn:hover{
    background-color: rgb(225, 37, 27);
    color: #ffffff;
    font-weight: bolder;
}
.ggbtn1{
    width: 50px;
    height: 50px;
    background-color: #212121;
    color: #ffffff;
    border-radius: 0.5rem;
    font-size: 17px;
    font-family:宋体;
}
.ggbtn1:hover{
    background-color: #656565;
    color: #fdffe6;
    font-weight: bolder;
}
